{% load static %}

{% block content %}

<div class="row">
    <div class="section-title">
        Annual Review - Meeting
    </div>
</div>
<br>
<div class="row">
    <div class="col-2">
        <p>Annual Review - Meeting Date</p>
    </div>
    <div class="col-2">
        <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control">
            <div class="input-group-addon">
                &nbsp;<i class="far fa-calendar-alt"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <br>
        <p>Annual Review-Additional Participants </p>
    </div>
    <div class="col-6">
        <button class="btn btn-default" style="float: right">
            <i class="fa fa-save fa-md" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default" style="float: right">
            <i class="fa fa-edit fa-md" aria-hidden="true"></i>
        </button>
        <div class="mb-6">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</div>

{% endblock %}