{% load static %}

{% block content %}

<div class="row">
    <div class="section-title">
        General Information
    </div>
</div>
<br>

<!-- Column 1-->
<div class="row">
    <div class="col-5">
        <table class="table-bordless">
            <tbody>
                <tr>
                    <th>Last Name</th>
                    <td width="50"></td>
                    <td>Shyrokov</td>
                </tr>
                <tr>
                    <th>Global ID</th>
                    <td width="20"></td>
                    <td>11648039</td>
                </tr>
                <tr>
                    <th>Target Manager</th>
                    <td width="20"></td>
                    <td>Ewelina Dragan</td>
                </tr>
                <tr>
                    <th>Organizational Office</th>
                    <td width="20"></td>
                    <td>DCEE/SID-PL</td>
                </tr>
                <tr>
                    <th>Local Grade</th>
                    <td width="20"></td>
                    <td>T2</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Column 2-->
    <div class="col-4">
        <table class="table-bordless">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td width="50"></td>
                    <td>Andrii</td>
                </tr>
                <tr>
                    <th>Local ID</th>
                    <td width="50"></td>
                    <td>60800418</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td width="50"></td>
                    <td>IDM</td>
                </tr>
                <tr>
                    <th>Global Employee Subgroup</th>
                    <td width="50"></td>
                    <td>Special Employment</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}