{% load static %}

{% block person %}

<div class="row">
    <div class="section-title">
        General Information
    </div>
</div>
<br>

<!-- Column 1-->
<div class="row">
    <div class="col-5">
        <table class="table-bordless">
            <tbody>
                <tr>
                    <th>Last Name</th>
                    <td width="50"></td>
                    <td>
                            {{ person.lastname }}
                    </td>
                </tr>
                <tr>
                    <th>Global ID</th>
                    <td width="20"></td>
                    <td>
                            {{ person.end_user }}
                    </td>
                </tr>
                <tr>
                    <th>Target Manager</th>
                    <td width="20"></td>
                    <td>
                            {{ person.mng_end_user }}
                    </td>
                </tr>
                <tr>
                    <th>Organizational Office</th>
                    <td width="20"></td>
                    <td>
                            {{ person.department }}
                    </td>
                </tr>
                <tr>
                    <th>Local Grade</th>
                    <td width="20"></td>
                    <td>
                            {{ person.bonus_group }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Column 2-->
    <div class="col-4">
        <table class="table-bordless">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td width="50"></td>
                    <td>
                            {{ person.name }}
                    </td>
                </tr>
                <tr>
                    <th>Local ID</th>
                    <td width="50"></td>
                    <td> TO DO</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td width="50"></td>
                    <td>
                            {{ person.position }}
                    </td>
                </tr>
                <tr>
                    <th>Global Employee Subgroup</th>
                    <td width="50"></td>
                    <td> TO DO</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}