{% load static %}

{% block content %}

<div class="row">
    <div class="section-title">
        Overall Performance
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" style="margin-left:25px">
        <span><i class="fas fa-wrench"></i>  edit section weight</span>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="color: #525F6BFF">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Section Weights</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: #014673; ">
                    <div class="row">
                        Set weights and click save. Weights need to add up to 100%.
                        Total weights add up to 100%.
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group">
                            <label for="formGroupExampleInput">EAV Goals (%)</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter weight">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Overall Performance (%)</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter weight">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
            <option>unrated</option>
            {% for rate in rates %}
                <option>{{rate}}</option>
            {% endfor %}
        </select>
    </div>
</div>



{% endblock %}